@model Barbearia.Entidades.Login

<link href="~/Content/css/login.css" rel="stylesheet" />

<div id="div-conteudo-login">
    <div class="div-login">
        <form action="Login/Logon" method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Entre com seu e-mail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="txtSenha">Senha</label>
                        <input type="password" class="form-control" id="txtSenha" name="Senha" placeholder="Entre com sua senha">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Logar" />
                </div>
            </div>
        </form>
    </div>
</div>

