@model Barbearia.Entidades.Usuario

<form action="/AdmUsuario/Incluir" method="post">
    <input type="hidden" id="txtId" name="Id" value="0" />
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="form-group">
                <label for="txtNome">Nome:</label>
                <input type="text" id="txtNome" name="Nome" value="@Model.Nome" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="form-group">
                <label for="txtEmail">Email:</label>
                <input type="text" id="txtEmail" name="Email" value="@Model.Email" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="form-group">
                <label for="txtSenha">Senha:</label>
                <input type="text" id="txtSenha" name="Senha" value="@Model.Senha" />
            </div>
        </div>
    </div>
    <div class="row">
        <input type="button" class="btn btn-sm btn-primary" name="name" value="Confirmar" />
        <input type="button" class="btn btn-sm btn-danger" name="name" value="Cancelar" />
    </div>
</form>
