<!DOCTYPE html>
<html>
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>SMBarber - Admin</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!-- Site CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Colors CSS -->
    <link rel="stylesheet" href="~/Content/css/colors.css">
    <!-- ALL VERSION CSS -->
    <link href="~/Content/css/versions.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/custom.css">




    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" data-name="Loading">SMBarber Loading</span>
        </div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">

        <!-- Sidebar-wrapper -->
        <div id="sidebar-wrapper">
            <div class="side-top">
                <div class="logo-sidebar">
                    <a href="/Home"><img src="~/Content/images/logos/logo-abarber.jpeg" style="max-width: 200px;" alt="image"></a>
                </div>
                <ul class="sidebar-nav">
                    @*<li><a class="active" href="/Home">Home</a></li>*@
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/AdmAgendamentos">Ver agendamentos</a></li>
                    <li>@*<a href="/AdmUsuarios">Usuários</a>*@</li>
                </ul>
            </div>
        </div>

        <!-- End Sidebar-wrapper -->
        <div class="page-content-wrapper">
            <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>

            @RenderBody()
        </div>
    </div><!-- end wrapper -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <!-- ALL JS FILES -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/admAgendamentos.js"></script>

    <script src="~/Content/js/all.js"></script>
    <script src="~/Content/js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Content/js/custom.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        (function ($) {
            "use strict";
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
            smoothScroll.init({
                selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
                selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
                speed: 500, // Integer. How fast to complete the scroll in milliseconds
                easing: 'easeInOutCubic', // Easing pattern to use
                offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
                callback: function (anchor, toggle) { } // Function to run after scrolling
            });
        })(jQuery);
    </script>

</body>


</html>
